<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1607082349566-187342175e2f" class="d-block w-100" alt="Shopping Banner">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1556742049-0cfed4f6a45d" class="d-block w-100" alt="Online Shopping">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1441986300917-64674bd600d8" class="d-block w-100" alt="Store Banner">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>