<div class="body container">
  <!-- This is Body Component -->
  <!-- <app-databinding></app-databinding> -->
  
  <!--
  <app-directives-demo>
    <div>Some Content From Body Component</div>
  </app-directives-demo>
  -->
  
  
  <!-- <app-task-list></app-task-list> -->

  
   <!--<app-product-list> </app-product-list> -->

   <app-employee-crud> </app-employee-crud>

   <app-pipe-demo> </app-pipe-demo>

   <app-ratings> </app-ratings>

   <app-parent-demo></app-parent-demo> 

   <app-employee2-crud></app-employee2-crud>

   @if (flag) {
     <app-login></app-login>
   } @else {
     <app-logout></app-logout>
   }
   <button (click)="flag=!flag">Toggle</button>

   <app-employee3></app-employee3>

  <!-- <app-comment-list> </app-comment-list> -->

   <app-employee4></app-employee4>

    <app-product-list-http></app-product-list-http>

    <app-employee-list-http2></app-employee-list-http2>

    <app-observable-demo1></app-observable-demo1>

    <app-observabale-demo2> </app-observabale-demo2>

    <app-observable-demo3></app-observable-demo3>

    <app-observable-demo4> </app-observable-demo4>

    <app-subject-demo1> </app-subject-demo1>

    <app-signal-demo1> </app-signal-demo1>

    <app-signal-demo2> </app-signal-demo2>

    <app-signal-demo3> </app-signal-demo3>

    <app-signal-demo4> </app-signal-demo4>

    
</div>



