<h3 class="text-center">UserDetails</h3>
<div class="col-sm-4 offset-4">
  <div class="card text-center mb-4">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSV9Gp9m9nhlzbIt7sqWpo2H87tV_BgWmvnbPDpq7quTg&s"
      class="card-img-top" alt="..." height="200">
    <div class="card-body text-center">
      <h5 class="card-title">{{user().username}}</h5>
      <p class="card-text text-truncate">{{user().name}}</p>
      <p class="card-text text-truncate">{{user().phone}}</p>
      <p class="card-text text-truncate">{{user().email}}</p>
      <p class="card-text text-truncate">{{user().address.city}}</p>
    </div>
  </div>
</div>
