<nav class="navbar navbar-expand bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">
            <fa-icon [icon]="faHouse"></fa-icon> Home
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="aboutus">
            <fa-icon [icon]="faCircleInfo"></fa-icon> AboutUs
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="contactus">
            <fa-icon [icon]="faEnvelope"></fa-icon> Contactus
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="careers">
            <fa-icon [icon]="faBriefcase"></fa-icon> Careers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="users" routerLinkActive="active">
            <fa-icon [icon]="faUsers"></fa-icon> Users
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="product" routerLinkActive="active">
            <fa-icon [icon]="faBox"></fa-icon> Product
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="uploadvideos" routerLinkActive="active">
            <fa-icon [icon]="faUpload"></fa-icon> Upload Videos
          </a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
