<div class="border border-2 rounded-2 m-2 p-2">

    <div class="d-flex justify-content-center mb -3">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal"><fa-icon [icon]="faPlus"></fa-icon>Add New Employee</button>
    </div>


  <div>Employee List</div>
  <table class="table table-bordered">
    <thead>
      <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Department</th>
      <th>Designation</th>
      <th>Salary</th>
      <th>Action</th>
      </tr>
    </thead>
    <tbody>
        @for(emp of employees; track emp.id){
            <tr>
                <td> {{ emp.id }}</td>
                <td> {{ emp.name }}</td>
                <td> {{ emp.email }}</td>
                <td> {{ emp.department }}</td>
                <td> {{ emp.designation }}</td>
                <td> {{ emp.salary }}</td>
                <td>
                    <button class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#viewModal" (click)="viewEmployee(emp)"> <fa-icon [icon]="faEye"></fa-icon></button>
                    <button class="btn btn-warning btn-sm" (click)="editEmployee(emp)"><fa-icon [icon]="faEdit"></fa-icon></button>
                    <button class="btn btn-danger btn-sm" (click)="deleteEmployee(emp)"><fa-icon [icon]="faTrash"></fa-icon></button>
                </td>
            </tr>
        }
    </tbody>
  </table>
</div>

<!-- Viewing Employee -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="viewModalLabel">Employee Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" *ngIf="selectedEmployee">
        <p><strong>Name:</strong>{{ selectedEmployee.name }}</p>
        <p><strong>Email:</strong>{{ selectedEmployee.email }}</p>
        <p><strong>Department:</strong>{{ selectedEmployee.department }}</p>
        <p><strong>Designation:</strong>{{ selectedEmployee.designation }}</p>
        <p><strong>Salary:</strong>{{ selectedEmployee.salary }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Adding Employee -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addModalLabel">Add New Employee</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control mb-2" placeholder="Name" [(ngModel)]="newEmployee.name">
        <input type="text" class="form-control mb-2" placeholder="Email" [(ngModel)]="newEmployee.email">
        <input type="text" class="form-control mb-2" placeholder="Department" [(ngModel)]="newEmployee.department">
        <input type="text" class="form-control mb-2" placeholder="Designation" [(ngModel)]="newEmployee.designation">
        <input type="text" class="form-control mb-2" placeholder="Salary" [(ngModel)]="newEmployee.salary">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addEmployee()">Save</button>
      </div>
    </div>
  </div>
</div>


