<h3 class="text-center">Product List</h3>

<div class="container">
  <div class="row mb-3">
    <div class="col-sm-4">
      <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="searchText" appCharonly appDisableCopyPaste>
    </div>
    <div class="col-sm-4">
      <select class="form-select" [(ngModel)]="sortOrder">
        <option value="none">Sort By</option>
        <option value="none">Price Low to High</option>
        <option value="none">Price High to Low</option>
      </select>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-success me-2" (click)="openAlert()">Show Sweet Alert</button>
      <button class="btn btn-secondary" (click)="openSnackbar()">Show Snackbar</button>
    </div>
  </div>



  







  <div class="row">
     @for (product of productArr | paginate: { itemsPerPage: 4, currentPage: p}; track $index) {
      <div class="col-sm-3">
        <div class="card text-center mb-4">
          <img src="{{product.image}}" class="card-img-top" alt="..." height="200">
          <div class="card-body">
            <h5 class="card-title">{{product.category}}</h5>
            <p class="card-text text-truncate">{{product.title}}</p>
            <p class="card-text text-truncate">{{product.description}}</p>
            <p class="card-text">{{product.price}}</p>
            <p class="card-text">
              {{product.rating.rate}}
              <fa-icon [icon]="faStar" style="color: gold"></fa-icon>
            </p>
            <button class="btn btn-primary" (click)="openAlert()">Buy Now</button>
          </div>
        </div>
      </div>
    } @empty{
      <div class="text-center"> No products found</div>
    }
  </div>
</div>

<div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
