<h3 class="text-center">Employee CRUD Using NgRx</h3>

<table class="table table-bordered table striped">
  <tbody>
    @for (emp of employees$ | async; track $index) {
      <tr>
        <td>{{ emp.id }}</td>
        <td>{{ emp.firstName }}</td>
        <td>{{ emp.lastName }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.gender }}</td>
        <td>{{ emp.sal }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteEmp(emp.id)">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>
