<h3 class="text-center">User List</h3>

<div class="container">
  <div class="row">
    @for (user of userArr; track $index) {
    <div class="col-sm-3">
      <div class="card text-center mb-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSV9Gp9m9nhlzbIt7sqWpo2H87tV_BgWmvnbPDpq7quTg&s"
          class="card-img-top" alt="..." height="200">
        <div class="card-body text-center">
          <h5 class="card-title">{{user.username}}</h5>
          <p class="card-text text-truncate">{{user.name}}</p>
          <p class="card-text text-truncate">{{user.phone}}</p>
          <p class="card-text text-truncate">{{user.email}}</p>
          <p class="card-text text-truncate">{{user.address.city}}</p>
          <button class="btn btn-primary" [routerLink]="['/userdetails',user.id]">Details</button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
